
<h2>Thanks for looking at my application!</h2>

<p>Clearly there are many aspects of this that I'm dissatisfied with, but hopefully it shows the way I work.</p>

<p>I've chosen to focus on providing a solid object-oriented core, with all the tools in place to build out a full application.</p>

<h3>Things I would have liked to do</h3>

<p>There are loads of things I'd hoped to include, primarily on the front-end, given the focus mentioned above.

<ul>
	<li>Incorporate some maps</li>
	<li>Postcode -> constituency lookup using the TWFY API / Ruby gem (forked and in vendor/gems ready for hacking!)</li>
	<li>Nice colours for the parties</li>
	<li>Make it a bit more fun!</li>
</ul>

<h3>Other points</h3>

<ul>
	<li>Specs are examples only really - the test coverage is minimal. I'd want specs in for all controller actions, and a couple of integration tests too.</li>
	<li>Nationwide results don't count seats - just share of vote.</li>
	<li>I've spent about 5.5 hours in this, including wrappping it all up, checking it in and doing this homepage.</li>
</ul>


<h3>References</h3>

<ul>
	<li><a href="http://www.hks.harvard.edu/fs/pnorris/Data/Data.htm" target="_blank">http://www.hks.harvard.edu/fs/pnorris/Data/Data.htm</a>: This spreadsheet is used by seeds.rb to generate constituences and candidates. It doesn't including candidates from smaller parties or independents.
	</li>
</ul>

