<% if @voter.errors.any? %>
<div class="alert alert-error">
  <button class="close" data-dismiss="alert">×</button>
  Please correct the errors below.
</div>
<% end %>

<%= simple_form_for(@voter) do |f| %>

  <%= f.input :constituency_id, :collection => @constituencies, :label => 'Your constituency', :required => true -%>
  <%= f.input :intends_to_vote, :as => :radio_buttons, :label => 'Do you intend to vote?', :required => true -%>

  <div class="actions">
    <input type="submit" value="Next &raquo;" class="btn btn-large btn-success" />
  </div>
<% end %>
