/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


body {
	padding: 10em;
}

body h1 {
	border-bottom: 1px solid #ccc;
	margin-bottom: 2em;
}

form {
	padding: 2em;
	background-color: #e7e7e7;
}

form label.control-label {
	font-weight: bold;
	font-size: 120%;
}

form .actions {
	margin-top: 3em;
}